.ui.text.container
  component( v-if="match" )
    h1.ui.left.floated.header {{ match.status }}
    h1.ui.left.floated.header {{ match.desc }}
    h1.ui.left.floated.header {{ match.someText }}
    .ui.form
      div(v-if="match.showInput" v-for="point of points")
        input(type="text" v-model="point.value")
    a(v-if="match.showButton", @click="clickButton" ).ui.labeled.icon.green.button.spaced
      i.send.icon
      | {{ match.buttonText }}
