.ui.vertical.masthead.center.aligned.segment
  .ui.text.container
    h1.ui.violet.header#main-header.menu-font
      p
        i.trophy.icon
        | Magia Night
        br
        | 2019
    .ui.segments
      .ui.segment
        .ui.form
          .field
            label 請輸入 Key
            input(type="text" v-model="match.key")
      .ui.segment
          a(v-link="{name: 'match', params: {key: match.key}}" ).ui.right.labeled.icon.primary.button.spaced
            i.send.icon
            | 送出
