<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Rank</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    html {
      scroll-behavior: smooth;
      height: 100%;
    }

    @media screen and (prefers-reduced-motion: reduce) {
      html {
        scroll-behavior: auto;
      }
    }

    body {
      height: 100%;
      -ms-flex-align: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      justify-content: center;
      background-color: #f5f5f5;
    }

    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }

    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }

    .form-signin .form-control:focus {
      z-index: 2;
    }

    .form-signin input {
      margin-top: -1px;
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .form-signin input:first-of-type {
      margin-top: 5px;
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
    }

    .form-signin input:last-of-type {
      margin-top: -1px;
      margin-bottom: 10px;
      border-bottom-right-radius: .25rem;
      border-bottom-left-radius: .25rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .main_div {
      align-items: center;
      height: 100%;
      display: flex;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .rule_div {
      padding-top: 80px;
      padding-bottom: 40px;
    }

    .rule_text {
      width: 50%;
      min-width: 300px;
      max-width: 700px;
      margin: 0 auto;
    }
  </style>
</head>

<body class="text-center">
  <div id="reg"></div>
  <div class="main_div">
    <div id="reg"></div>
    <form class="form-signin" method='post' action='/reg'>
      <img class="mb-4" src="https://magireco.moe/resources/assets/head_logo.png" alt="">
      <h1 class="h3 mb-3 font-weight-normal">目前已有{{ players }}人报名</h1>
      <label for="id" class="sr-only">好友码</label>
      <input type="text" id="id" name="id" class="form-control" placeholder="好友码" required autofocus>
      <label for="cursedchip" class="sr-only">CC(金币)</label>
      <input type="number" id="cursedchip" name="cursedchip" class="form-control" placeholder="CC(金币)，只是拿来验证用的" required>
      <label for="qq" class="sr-only">QQ</label>
      <input type="number" id="qq" name="qq" class="form-control" placeholder="QQ号，你的联络方式" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">报名</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2019 Magia Night 排位赛 <a href="#rule">规则</a></p>
    </form>
  </div>

  <div class="rule_div">
    <h1 class="h3 mb-3 font-weight-normal">规则</h1>
    <div class="text-left rule_text">
      <div id="rule"></div>
      一、比赛流程和规则<br>
      1.比赛前<br>
      正赛均为1v1的攻防战。一套阵容，同时用于进攻和防守。<br>
      确定自己的阵容后，双方截图队伍界面，QQ私聊给运营，并且本轮比赛结束前不能再更改阵容。<br>
      双方发送截图后，运营进行阵容公示。和本轮对手互加游戏好友，可以开始申请进攻。<br>
      进攻方申请开始，运营会发送一次性密钥。将密钥填入比赛网站，赛前准备完成。<br>
      2.比赛中<br>
      每轮比赛必须录屏，录屏全程不能有中断。<br>
      首先开始录屏，然后再点击比赛网站的“进攻开始“按钮，即可开始进攻。<br>
      注意录屏要包括点击按钮的过程。<br>
      比赛中保持阵容与赛前发送的一致。向对手进行3次（16强后5次）进攻。<br>
      有掉线等意外情况时，允许重新打。保持录屏不中断。<br>
      进攻结束后，点击比赛网站的”进攻结束“按钮，然后再中止录屏。<br>
      3.比赛后<br>
      进攻平均分高者胜出。<br>
      特别注意，演习中战败时，基础分仍为1000。本次比赛也使用这个计分办法。<br>
      <br>
      二、违规情况<br>
      1.录屏不符合要求：<br>
      有中断、缺少”进攻开始/结束“按钮、辨识度太低 等<br>
      2.阵容不符合要求<br>
      录屏中进攻方或者防守方阵容与提交的不符<br>
      3.任何严重拖延比赛进程的情况<br>
      4.以上没提到的情况，由运营组集体判定是否违规。<br>
      出现违规时，会对选手进行一定的扣分。具体幅度由对应运营判定，原则上在50分~500分范围内。<br>
      对运营判罚不满意的，可以联系茶会群@风起voice  进行重判。<br>
      <br>
      三、比赛奖励<br>
      进入16强：茶会群定制头衔<br>
      决赛圈：500日元点卡<br>
      视报名人数等而定，可能会追加实体奖励<br>
      <br>
      最终解释权归圆环记录攻略组所有<br>
      <br>
      <a href="#reg">报名</a><br>
    </div>
  </div>
  </div>

</body>

</html>