component
  .ui.grid.computer.only
    .top-menu.ui.fixed.top.secondary.pointing.violet.menu
      .ui.container
        div.item.menu-font( style="color: #6435c9 !important;" )
          i.trophy.icon
          | Magia Night
        a.item( v-link="{ path: '/', exact: true }" ) Home
        a.item( v-if="user && user.isAdmin" v-link="{name: 'admin'}" ) Admin
        .item| {{(datetime-datetimebase+nowdatetime) | toFormattedTime 'MM/DD HH:mm:ss'}}
        .right.menu( v-if="user" )
          a.item( v-link="{ name: 'profile' }" ) Profile
          .item {{user.username}}
          a.item( @click="clickLogout" ) Logout
        .right.menu( v-else="user" )
          a.item( v-if="!user" @click="clickLogin" ) Login

  .ui.grid.mobile.only.tablet.only
    .top-menu.ui.fixed.top.secondary.pointing.violet.menu
      .ui.container
        div.ui.simple.dropdown.item
          i.content.icon
          .menu(style="margin-top: 0px;")
            a.item( v-link="{ path: '/', exact: true }" ) Home
            a.item( v-if="user && user.isAdmin" v-link="{name: 'admin'}" ) Admin
            a.item( v-if="user" v-link="{ name: 'profile' }" ) Profile
            a.item( v-if="user" @click="clickLogout" ) Logout
            a.item( v-if="!user" @click="clickLogin" ) Login
        div.item.menu-font( style="color: #6435c9 !important;" )
          i.trophy.icon
          | Magia Night
        .item| {{(datetime-datetimebase+nowdatetime) | toFormattedTime 'MM/DD HH:mm:ss'}}
